<!DOCTYPE html>
<html lang="en">
<head>
    <title>FOOD SHOP - Nơi đáng được trao niềm tin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="Content/css/animate.css">


    <link rel="stylesheet" href="Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="Content/css/magnific-popup.css">
    <link rel="stylesheet" href="Content/css/aos.css">
    <link rel="stylesheet" href="Content/css/ionicons.min.css">
    <link rel="stylesheet" href="Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="Content/css/jquery.timepicker.css">

    <link rel="stylesheet" href="Content/css/flaticon.css">
    <link rel="stylesheet" href="Content/css/icomoon.css">
    <link rel="stylesheet" href="Content/css/style.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body>
    <div class="py-1 bg-primary">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="fal fa-phone"></span></div>
                            <span class="text">0123456789</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="far fa-paper-plane"></span></div>
                            <span class="text">youremail@email.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">Giao hàng miễn phí</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">FoodShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="iconify" data-icon="oi-menu" data-inline="false"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Trang chủ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="#">Shop</a>
                            <a class="dropdown-item" href="#">Sản phẩm yêu thích</a>
                            <a class="dropdown-item" href="#">Sản phẩm</a>
                            <a class="dropdown-item" href="#">Giỏ hàng</a>
                            <a class="dropdown-item" href="#">Thanh toán</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Thông tin chung</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Tin tức</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Liên hệ</a></li>
                    <li class="nav-item cta cta-colored"><a href="#" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <hr />
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">FOODSHOP</h2>
                        <p>Luôn mang đến những sản phẩm bổ dưỡng và an toàn</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Trợ giúp</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Thông tin giao hàng</a></li>
                                <li><a href="#" class="py-2 d-block">Chính sách đổi trả</a></li>
                                <li><a href="#" class="py-2 d-block">Điều khoản và điều kiện</a></li>
                                <li><a href="#" class="py-2 d-block">Chính scahs bảo mật</a></li>
                                <li><a href="#" class="py-2 d-block">Câu hỏi thường gặp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Liên hệ</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="fas fa-map-marker"></span><span class="text">Địa chỉ nè</span></li>
                                <li><a href="#"><span class="fas fa fa-phone"></span><span class="text">0123 456 789</span></a></li>
                                <li><a href="#"><span class="fas fa fa-envelope"></span><span class="text">mymail@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Design by Tie</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="Scripts/js/jquery.min.js"></script>
    <script src="Scripts/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="Scripts/js/popper.min.js"></script>
    <script src="Scripts/js/bootstrap.min.js"></script>
    <script src="Scripts/js/jquery.easing.1.3.js"></script>
    <script src="Scripts/js/jquery.waypoints.min.js"></script>
    <script src="Scripts/js/jquery.stellar.min.js"></script>
    <script src="Scripts/js/owl.carousel.min.js"></script>
    <script src="Scripts/js/jquery.magnific-popup.min.js"></script>
    <script src="Scripts/js/aos.js"></script>
    <script src="Scripts/js/jquery.animateNumber.min.js"></script>
    <script src="Scripts/js/bootstrap-datepicker.js"></script>
    <script src="Scripts/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="Scripts/js/google-map.js"></script>
    <script src="Scripts/js/main.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
